@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Delete";
}

<h1>Are U sure to Delete @Model.Name Department ?</h1>
<partial name="Partials/DeleteDetialsPartial" model="Model" />

        </<div>
    <form asp-action="Delete" method="post" asp-route-DeptId="@Model.Id">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mt-4">
            <input type="submit" value="Delete" class="btn btn-danger" /> ||
            <a asp-action="Index" class="btn btn-secondary">Back To list</a>
        </div>
    </form>
</div>