@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Details";
}

 @Model.Name Details ?</h1>

<partial name="Partials/DeleteDetialsPartial" model="Model" />

         </<div>

        <div class="mt-4">
            <a asp-action="Index" class="btn btn-secondary">Back To list</a>
        </div>

</div>