@model CreateEditDepartmentVM
@{
    ViewData["Title"] = "Edit";
}
<div class="row justify-content-center align-content-center flex-column">

    <h1 class="col-6 my-4">Edit Department: @Model.Name</h1>

    <form asp-action="Edit" method="post" class="col-6">

        <partial name="Partials/CreateEditDepartmentPartial" model="Model" />

        <div class="mt-4">
            <input type="submit" value="Update" class="btn btn-primary" /> |
            <a asp-action="Index" class="btn btn-secondary">Back To List</a>
        </div>

    </form>

</div>

@section validationScripts {
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}
